<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Missing Trailer Rewards</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <style>
    
    
    #banner {
      width: 100%;
      height:  700px;
      object-fit: cover;
    }
    #container {
      max-widtd: 720px;
      margin: 0 auto 0 auto;
      
    
    button {
      align: 0 auto 0 auto;
    }
  </style>
</head>
<body class="text-center">
  <div id= "container">
  <h1 class="text-center">Claim Missing Trailer Rewards</h1>
  <img class="img-fluid" id= "banner"  src="https://missing-trailer-rewards.lutherhill.repl.co/static/trucktrailer.avif" >
  <h2 class="text-center">Use MissingTrailerRewards.com to claim rewards for locating missing truck trailers.</h2>
  <button type="button" class="btn btn-primary btn-lg">Get started</button>
  
  <h2 class="text-center">How It Works</h2>
<li>Locate a Missing Trailer: Empowering Truckers to Find Their Missing Trailers</li>
  <li>Submit Trailer Information: Provide information about your missing trailer</li>
<li>Claim Your Reward: We handle getting you paid so you don't have to worry about it.</li>
  
  <h2 class="text-center">Why Chose MissingTrailerRewards.com</h2>
  <h3>For Drivers</h3>
  <li>Get paid fast no matter how many miles you drive</li>
  <li>Join a supportive communioty of truckers who understand the challenges you face. Share infromation, tips, on the best rewards rates</li>
  
  <h3>For businesses</h3>
  <li>Get higher utilization rates with instant notifications when a trailer matching your descriptio is reported, hlping you track down your missing trailer quickly</li>
  <li>Retain more driver by giving more ways to earn money.</li>
  <li>Leverge our extensive network across the country, increasing the likelihood of locating your missing trailer, no matter where it might be.</li>

  <h2>Get Started Now</h2>
  <p>Join now and become part of a community dedicated to recovering missing trailers and earning rewards</p>

    <button type="button" class="btn btn-primary btn-lg">Get started</button>
  </div>
</body>
</html>